demo/src/main/app/ObjectStoreDemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:debugger="http://www.mulesoft.org/schema/mule/debugger" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/1.0/mule-objectstore.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/debugger http://www.mulesoft.org/schema/mule/debugger/current/mule-debugger.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd ">
    <objectstore:config name="Objectstore" partition="PartitionOne" doc:name="Objectstore"/>
    <flow name="ObjectStoreDemoFlow1" doc:name="ObjectStoreDemoFlow1">
        <http:inbound-endpoint exchange-pattern="one-way" host="localhost" port="8081" path="test-object-store" doc:name="HTTP"/>
        <objectstore:store config-ref="Objectstore" key="NewKey" value-ref="#[groovy:&quot;NewValue&quot;]" doc:name="Store"/>
        <objectstore:retrieve config-ref="Objectstore" key="NewKey" doc:name="Retrieve"/>
        <logger message="The key value created is: #[payload]" level="INFO" doc:name="Logger"/>
        <objectstore:remove config-ref="Objectstore" key="NewKey" doc:name="Remove"/>
        <logger message="The key #[payload] was removed" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ObjectStoreDemoFlow2" doc:name="ObjectStoreDemoFlow2">
        <http:inbound-endpoint exchange-pattern="one-way" host="localhost" port="8081" path="retrieve-all-keys" doc:name="HTTP"/>
        <objectstore:store config-ref="Objectstore" key="Key1" value-ref="#[groovy:&quot;NewValue1&quot;]" doc:name="Store"/>
        <objectstore:store config-ref="Objectstore" key="Key2" value-ref="#[groovy:&quot;NewValue2&quot;]" doc:name="Store"/>
        <objectstore:all-keys config-ref="Objectstore" doc:name="RetrieveAllKeys"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <logger message="Retrieved Key: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
